---
import ArticleCard from "@/components/ArticleCard.astro";
import BackButton from "@/components/button/BackButton.astro";
import Layout from "@/layouts/Layout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
---

<Layout title="Ecritures et pensées">
    <PageLayout>
        <h1>Marge de Pensée</h1>
        <p class="font-sans pb-10">Un espace d'écriture contre le flux incessant.<br /> 
            Ici, pas d'algorithme à nourrir ni de cadence imposée.<br /> 
            Mes publications naissent quand les observations du quotidien demandent à être développées.
        </p>
        <div class="flex flex-wrap justify-center font-sans gap-4 py-8">
            {
                uniqueTags.map(tag => <a href={`/tags/${tag}`} class="inline-block text-card text-sm">{`#${tag}`}</a>)
            }
        </div>
        <ul class="flex gap-4 flex-wrap justify-center md:justify-start">
            {allPosts.map((post: any) => <li><ArticleCard post={post} /></li>)}
        </ul>
        <BackButton url="/" texte="Retour" />
    </PageLayout>

</Layout>