---
import Layout from "@/layouts/Layout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
---

<Layout title="Articles et post">
    <PageLayout>
        <h1>Articles récents</h1>
        <p class="font-sans pb-10">Un espace d'écriture contre le flux incessant.<br /> 
            Ici, pas d'algorithme à nourrir ni de cadence imposée.<br /> 
            Mes articles naissent quand les observations du quotidien demandent à être développées.
        </p>
        <div class="flex flex-wrap justify-center font-sans gap-4 py-8">
            {
                uniqueTags.map(tag => <a href={`/tags/${tag}`} class="inline-block">{tag}</a>)
            }
        </div>
        <ul>
            {allPosts.map((post: any) => <li><a href={post.url} class="text-accent text-xl">{post.frontmatter.title}</a></li>)}
        </ul>
    </PageLayout>

</Layout>