---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<section class="flex flex-col">
		<div class="flex">
			<p>ARNAUD P.</p>
			<p>NANCY, FRANCE</p>
		</div>
		<div>
			<h1 class="font-display text-hero pt-4">Créateur de sites web, photographe de l'ordinaire, gribouilleur de carnets.</h1>
		</div>
	</section>
</Layout>
