---
import BackButton from "@/components/button/BackButton.astro";
import Layout from "@/layouts/Layout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<Layout title="Mes lectures et audios">
    <PageLayout>
        <h1>Livres papier et audio</h1>
        <p class="font-sans pb-10">Ce que je lis: livres papier, liseuse et livres audio.<br /> 
            C'est pas encore tout à fait opérationnel.<br /> 
            Faudra revenir ...
        </p>
        <BackButton url="/" texte="Retour" />
    </PageLayout>

</Layout>