---
import BackButton from "@/components/button/BackButton.astro";
import Layout from "@/layouts/Layout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<Layout title="Not about et anti CV">
    <PageLayout>
        <h1>Mon anti CV</h1>
        <p class="font-sans pb-10">Tout ce que j'ai pas fait, les échecs, les projets ratés.<br /> 
            C'est pas encore tout à fait opérationnel.<br /> 
            Faudra revenir ...
        </p>
        <BackButton url="/" texte="Retour" />
    </PageLayout>

</Layout>