---
import BackButton from "@/components/button/BackButton.astro";
import Layout from "@/layouts/Layout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<Layout title="Notes de lecture">
    <PageLayout>
        <h1>Mes notes de lectures</h1>
        <p class="font-sans pb-10">Quoi retenir de tous ces mots ?<br /> 
            C'est pas encore tout à fait opérationnel.<br /> 
            Faudra revenir ...
        </p>
        <BackButton url="/" texte="Retour" />
    </PageLayout>

</Layout>