---
import "@/styles/starwind.css";
import BaseHead from "./BaseHead.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
---

<!doctype html>
<html lang="fr">
	<BaseHead {...Astro.props} />
	<body class="flex flex-col min-h-dvh text-texte bg-background">
		<Header />
		<slot />
		<Footer />
	</body>
</html>

