---
import "@/styles/starwind.css";
import BaseHead from "./BaseHead.astro";
---

<!doctype html>
<html lang="fr" class="">
	<BaseHead {...Astro.props} />
	<body class="flex flex-col min-h-dvh text-texte bg-background">
		<slot />
	</body>
</html>

