---
import BackButton from "@/components/button/BackButton.astro";
import Layout from "./Layout.astro";
import PageLayout from "./PageLayout.astro";

const { frontmatter } = Astro.props;

---
<meta charset="utf-8" />
<Layout title={frontmatter.title}>
    <PageLayout>
        <h1>{frontmatter.title}</h1>
        <p>Écrit par : {frontmatter.author}</p>
        <p class="pb-8">Publié le : {frontmatter.pubDate}</p>
        <slot />
        <BackButton url="/articles" texte="Articles" />
    </PageLayout>
</Layout>